main
  font-size var(--small-copy-font-size)

header
  margin-block-end 1rem
  &:not(:first-child)
    margin-block-start 2rem

.options
  display flex
  flex-wrap wrap
  gap 2rem

  .option
    display flex
    flex-flow column
    align-items center
    color var(--highlight)
    cursor default

  i
    font-size 2rem