main
  font-size var(--small-copy-font-size)

button
  font-size var(--small-copy-font-size)
  background var(--background)
  color var(--highlight)
  min-width 6rem

header
  margin-block-end 2rem

p
  margin-block-end 2rem

.panel
  display flex
  align-items baseline
  justify-content end
  gap 1rem
  padding 1rem